<div class="jumbotron">
    <h1 view-title>Roams</h1>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Label</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Crew</th>
                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody ng-click="roamsList.useEvent($event)">
            <tr ng-repeat="row in roamsList.roamsList | orderBy:'startDate'"
                ng-mouseenter="roamsList.rowSelected(row, 'text-info')"
                ng-mouseleave="roamsList.rowSelected(row, 'text-muted')">
                <td>{{row.label}}</td>
                <td>{{row.startDate | date:'yyyy/MM/dd HH:mm':GMT}}</td>
                <td>{{row.endDate | date:'yyyy/MM/dd HH:mm':GMT}}</td>
                <td>{{row.crew}}</td>
                <td class="text-muted">
                    <span id="open" class="glyphicon glyphicon-open " ng-class="row.selectedCssClass"
                          bs-tooltip="roamsList.open"></span>
                </td>
                <td class="text-muted">
                    <span id="edit" class="glyphicon glyphicon-edit" ng-class="row.selectedCssClass"
                          bs-tooltip="roamsList.edit"></span>
                </td>
                <td class="text-muted">
                    <span id="remove" class="glyphicon glyphicon-remove" ng-class="row.selectedCssClass"
                          bs-tooltip="roamsList.remove"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button class="btn btn-lg btn-info" type="button" ui-sref="roams.new">
        New&nbsp;<span class="glyphicon glyphicon-new-window"></span>
    </button>

</div>
