<!-- Title -->
<h1><span view-title>Roaming Detail</span> for <em>{{roamDetail.roamName}}</em>
    <small>
        <br/>from {{roamDetail.startDate | date:'yyyy-MM-dd HH:mm'}} to {{roamDetail.endDate | date:'yyyy-MM-dd HH:mm'}}
    </small>
</h1>
<!-- Header -->
<h4 class="text-justify">
    In this Roam there
    <ng-pluralize
            count="roamDetail.crew.length"
            when="{one:'is {{roamDetail.crew.length}} member, ', other:'are {{roamDetail.crew.length}} members, '}">
    </ng-pluralize>
    <span ng-if="!roamDetail.stats.kills && !roamDetail.stats.losses">no one was harmed.</span>
    <span ng-if="roamDetail.stats.kills || roamDetail.stats.losses">
        <span ng-if="roamDetail.stats.kills">
            <ng-pluralize
                    count="roamDetail.crew.length"
                    when="{one:'he did', other:' they have made'}">
            </ng-pluralize>
            {{roamDetail.stats.kills}}
            <ng-pluralize
                    count="roamDetail.crew.length"
                    when="{one:'kill', other:'kills'}">
            </ng-pluralize><!--
         --><span ng-if="!roamDetail.stats.losses">.</span>
            <span ng-if="roamDetail.stats.losses">and</span>
        </span>
        <span ng-if="roamDetail.stats.losses">
            <ng-pluralize
                    count="roamDetail.crew.length"
                    when="{one:'he had', other:' they have'}">
            </ng-pluralize>
            suffered {{roamDetail.stats.losses}}
            <ng-pluralize
                    count="roamDetail.crew.length"
                    when="{one:'loss.', other:'losses.'}">
            </ng-pluralize>
        </span>
        <br/>
        <!-- Body of summary -->
        <small>
            Meanwhile,
            <ng-pluralize
                    count="roamDetail.crew.length"
                    when="{one:'he had', other:'they have'}">
            </ng-pluralize>
            <span ng-if="roamDetail.stats.kills">
                caused
                <strong>
                    {{roamDetail.stats.killDamage | number : 0}}
                </strong>
                HP of damage<!--
         --></span><!--
         --><span ng-if="!roamDetail.stats.losses">. </span>
            <span ng-if="roamDetail.stats.kills && roamDetail.stats.losses">and</span>
            <span ng-if="roamDetail.stats.losses">
                suffered
                <strong>
                    {{roamDetail.stats.lossDamage | number : 0}}
                </strong>
                HP of damage<!--
         --></span><!--
         --><span ng-if="!roamDetail.stats.kills">. </span><!--
         --><span ng-if="roamDetail.stats.kills && roamDetail.stats.losses"><!--
             -->, with a ratio of
                <strong>
                    {{(roamDetail.stats.killDamage/roamDetail.stats.lossDamage) | number : 1}}:1&nbsp;({{roamDetail.stats.killDamage
                    |
                    efficiency : roamDetail.stats.lossDamage : 2}}%)<!--
             --></strong>.
            </span>
            From the economic point of view
            <ng-pluralize
                    count="roamDetail.crew.length"
                    when="{one:'he had', other:'they have'}">
            </ng-pluralize>
            <span ng-if="roamDetail.stats.kills">
                caused losses for
                <strong>
                    {{roamDetail.stats.killValue | iskFormat}}
                </strong>
                ISK (referring to the total kill) and
                <strong>
                    {{roamDetail.stats.killsByDamageValue | iskFormat}}
                </strong>
                ISK (referring to the damage inflicted)<!--
                --><span ng-if="!roamDetail.stats.losses">. </span><!--
                --><span ng-if="roamDetail.stats.kills && roamDetail.stats.losses">, </span>
            </span>
            <span ng-if="roamDetail.stats.losses">
                suffering losses for
                <strong>
                    {{roamDetail.stats.lossValue | iskFormat}}
                </strong>
                ISK<!--
             --><span ng-if="!roamDetail.stats.kills">. </span><!--
             --><span ng-if="roamDetail.stats.kills"><!--
                 -->, with a ratio of
                    <strong>
                        {{(roamDetail.stats.killValue/roamDetail.stats.lossValue) | number : 1}}:1&nbsp;({{roamDetail.stats.killValue
                        |
                        efficiency : roamDetail.stats.lossValue : 2}}%)
                    </strong>
                    and
                    <strong>
                        {{(roamDetail.stats.killsByDamageValue/roamDetail.stats.lossValue) | number : 1}}:1&nbsp;({{roamDetail.stats.killsByDamageValue
                        |
                        efficiency : roamDetail.stats.lossValue : 2}}%)<!--
                 --></strong>.
                </span>
            </span>
        </small>
    </span>
</h4>
<!-- Crew portraits -->
<div class="row">
    <div class="col-sm-3 hidden-xs"> <!--Left bar-->
        <div class="well well-sm">
            <div ng-repeat="pilot in roamDetail.crew | orderBy:'name'">
                <div class="trim-text"><strong>{{pilot.name}}</strong></div>
                <div class="thumbnail img_container">
                    <a ng-href="https://gate.eveonline.com/Profile/{{pilot.name}}/">
                        <span class=" label label-over label-over-top label-over-sx label-danger" bs-tooltip
                              data-title="Losses">{{pilot.losses}}</span>
                        <span class=" label label-over label-over-top label-over-dx label-success" bs-tooltip
                              data-title="Kills">{{pilot.kills}}</span>
                        <span class=" label label-over label-over-down label-over-sx label-info" bs-tooltip
                              data-title="Final Blows">{{pilot.finalBlows}}</span>
                        <span class=" label label-over label-over-down label-over-dx label-warning" bs-tooltip
                              data-title="Top Damage">{{pilot.topDamage}}</span>
                        <img class="img-responsive img-rounded img-128"
                             lazy-img="https://imageserver.eveonline.com/Character/{{pilot.id}}_128.jpg"
                             ng-src={{roamDetail.defaultImages.char_128}}
                             alt="{{pilot.name}} Image"
                             bs-popover="pilot" data-template="client/states/roams/detail/popover.tpl.ng.html"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Kill List -->
    <div class="col-xs-12 col-sm-9"> <!--data area-->
        <div ng-repeat-start="kill in roamDetail.kills"></div>

        <h4 ng-if="kill.ssChanged.changed"> Solar system: {{roamDetail.sysIds[kill.solarSystemID]}}
            <small ng-if="kill.ssChanged.delta">(+{{kill.ssChanged.delta | timeFormat}} to next system.)</small>
        </h4>

        <div ng-repeat-end
             ng-class="{'list-group-item-danger':kill.victim.friendly, 'list-group-item-success':!kill.victim.friendly}"
             class="list-group-item media">

            <h4>
                {{kill.stats.involved}}
                <ng-pluralize count="kill.stats.involved" when="{one:'pilot hits', other:'pilots hit'}"></ng-pluralize>
                for {{kill.stats.damageTaken | number : 0}} damages and {{kill.stats.totalValue | iskFormat}} ISK value.
            </h4>

            <a ng-if="kill.victim.characterName!=''"
               ng-href="https://gate.eveonline.com/Profile/{{kill.victim.characterName}}/" class="pull-left">
                <img class="img-responsive img-circle media-object img-64"
                     lazy-img="https://imageserver.eveonline.com/Character/{{kill.victim.characterID}}_64.jpg"
                     ng-src={{roamDetail.defaultImages.char_64}}
                     alt="{{kill.victim.characterName}} Image" bs-tooltip
                     data-title="{{kill.victim.characterName}}" />
            </a>

            <span class="pull-left">
                <img ng-if="kill.victim.characterName==''"
                     class="img-responsive img-circle media-object img-64 "
                     lazy-img={{roamDetail.defaultImages.deployables_64}}
                     ng-src={{roamDetail.defaultImages.char_64}}
                     alt="Deployables Icon" />
            </span>

            <a ng-href="http://o.smium.org/db/type/{{kill.victim.shipTypeID}}" class="pull-right">
                <img class="img-responsive img-circle media-object img-64"
                     lazy-img="https://imageserver.eveonline.com/Type/{{kill.victim.shipTypeID}}_64.png"
                     ng-src={{roamDetail.defaultImages.type_64}}
                     alt="Ship {{kill.victim.shipTypeID}} Image" bs-tooltip
                     data-title="{{roamDetail.shipIds[kill.victim.shipTypeID]}}">
            </a>

            <div class="media-object pull-right">
                <img class="img-32"
                     lazy-img="https://imageserver.eveonline.com/Corporation/{{kill.victim.corporationID}}_32.png"
                     ng-src={{roamDetail.defaultImages.corp_32}}
                     alt="Ship {{kill.victim.corporationName}} Image" bs-tooltip
                     data-title="{{kill.victim.corporationName}}"><br/>
                <img class="img-32"
                     ng-if="kill.victim.allianceID!=0"
                     lazy-img="https://imageserver.eveonline.com/Alliance/{{kill.victim.allianceID}}_32.png"
                     ng-src={{roamDetail.defaultImages.ally_32}}
                     alt="Ship {{kill.victim.allianceName}} Image" bs-tooltip
                     data-title="{{kill.victim.allianceName}}">
            </div>

            <div class="text-black media-body" ng-click="roamDetail.goZKbd(kill.killID)">
                <strong>{{kill.killTime | date:'yyyy-MM-dd HH:mm':'UTC'}}</strong> <br/>

                <div ng-switch="kill.victim.characterName"><em>
                    <span ng-switch-when=""><strong>{{roamDetail.moonIds[kill.victim.characterID]}}</strong></span>
                    <span ng-switch-default><strong>{{kill.victim.characterName}}</strong></span>
                    - {{roamDetail.shipIds[kill.victim.shipTypeID]}}<br/></em>
                </div>
                {{kill.victim.corporationName}}
                <span ng-if="kill.victim.allianceID!=0">({{kill.victim.allianceName}})</span><br/>
            </div>
            <span ng-if="$last">{{roamDetail.refreshImages()}}</span>
        </div>
    </div>
</div>