.btn-eveonline {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(EVE_SSO_Login_Buttons_Small_White_transparent.png) no-repeat;
    width: 195px; /* Width of new image */
    height: 30px; /* Height of new image */
    padding-left: 195px; /* Equal to width of new image */
    margin-top: -6px;
    margin-bottom: -4px;
    margin-left: -10px;
    margin-right: -10px;
}